*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Noto Sans Display', sans-serif;
}
#container{
    background-color: #fff;
    /* background-image: url("../../images/cameron-venti-lI7dlA5VBp8-unsplash.jpg"); */
    height: auto;
    padding-bottom: 20px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

header{
    background-color: red;
    height: auto;
    padding-bottom: 20px;
    padding: 10px 15px;
}
/* header h1{
    
} */
header p{
    color: #fff;
}
.clearfix{
    clear: both;
}

#search-form{
    display: block;
    margin-bottom: 15px;
}
.fieldcontainer{
    display: block;
    position: relative;
    margin: 0 auto;
}
.search-btn:hover{
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.search-field{
    box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    margin-top: 15px;
    background: #fff;
    color: #000;
    font-size: 20px;
    border-radius: 5px;
    outline: 0;
    padding-right: 50px;
    border: 1px solid transparent;
}
#search-btn{
    position: absolute;
    background-color: red;
    right: 7px;
    width: 35px;
    border: 0;
    outline: 0;
    height: 35px;
    border-radius: 5px;
    top: 22px;
}
#search-btn .fa{
    font-size: 20px;
    color: #fff;
}

/* .list-left{
  
} */




footer{
    text-align: center;
    background-color: #fff;
    height: auto;
    margin-top: 100px;
    padding-bottom: 30px;
}



/* =======================
ANDROID UNDER 768PX SCREEN
========================= */
@media(max-width:768px){
    #container{
        background-color: #fff;
        height: auto;
        /* background-image: url("../../images/charles-deluvio-9uS7yhHjSuY-unsplash.jpg"); */
    }
}